/* use maps para los colores*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none; }

/*Clases comunes a todas las secciones del sitio */
/*fuente */
@font-face {
  font-family: Gotham;
  src: url(fuentes\Fuente.Iels.otf); }

/* fondo de pantalla */
.imagen__fondo {
  background-color: #B2D6FF;
  background: linear-gradient(to right, #78a8df, #B2D6FF, #f8f8f8); }

.estilo__barra__promocion {
  background: linear-gradient(to right, #cf1616, #f37070);
  font-family: Gotham;
  color: aliceblue;
  font-size: 20px;
  padding: 50px; }
  .estilo__barra__promocion .boton__inscribite:link {
    color: #e5ff00; }
  .estilo__barra__promocion .boton__inscribite:visited {
    color: #e5ff00; }
  .estilo__barra__promocion .boton__inscribite:hover {
    color: #e5ff00; }
  .estilo__barra__promocion .boton__inscribite:active {
    color: #e5ff00; }

/* estilo textos*/
.titulos__secciones {
  font-family: Gotham;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: underline #FBF433; }

.texto__secciones {
  font-family: Gotham;
  font-size: 25px;
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 200px;
  margin-left: 200px;
  line-height: 32px; }

.texto__secciones__frase {
  background-color: #FBF433;
  font-family: Gotham;
  font-size: 30px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 200px;
  margin-left: 200px;
  line-height: 32px; }

.call__to__action {
  display: scroll;
  position: fixed;
  width: 150px;
  height: auto;
  bottom: 30px;
  right: 60px;
  transition: width 1s; }

.call__to__action:hover {
  transform: scale(1.05); }

.espacio__vacio {
  padding: 50px; }

/*estilo footer */
.pie-pagina {
  width: 100%;
  background-color: #0a141d; }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pie-pagina .grupo-1 .box figure img {
  width: 250px; }

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: none;
  text-align: center;
  transition: all 300ms ease; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua; }

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie-pagina .grupo-2 small {
  font-size: 15px; }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

/*______________________________________________________________________________________________________________*/
/* estilos index */
/* imagenes index */
.titulo__index {
  font-family: Gotham;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  text-decoration: underline #FBF433; }

.estilo__imagenes__index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
  gap: 225px; }

.estilo__imagenes__index1 {
  height: auto;
  width: 600px;
  transition: width 1s; }

.estilo__imagenes__index1:hover {
  transform: scale(1.4); }

.estilo__imagenes__index2 {
  height: auto;
  width: 600px;
  transition: width 1s; }

.estilo__imagenes__index2:hover {
  transform: scale(1.4); }

.estilo__imagenes__index3 {
  height: auto;
  width: 600px;
  transition: width 1s; }

.estilo__imagenes__index3:hover {
  transform: scale(1.4); }

/*----------------------------------------------------------------------------------------------------------------------*/
/*estilos seccion metodologia */
.texto__seccion__metodologia {
  font-family: Gotham;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 0px;
  line-height: 32px; }

.video {
  margin-left: 20%; }

/*-----------------------------------------------------------------------------------------------------------------------*/
/* estilos seccion paquetes */
/* cards seccion paquetes */
.container {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center; }

.card {
  background-color: var(--white-text);
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 1.5rem;
  overflow: hidden;
  width: 30rem;
  height: 19rem;
  transition: width 1s; }
  .card .card:hover {
    width: 40rem; }

/*css para cards bootstrap*/
.cards__paquetes {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 100px; }

.detalle__paquetes {
  font-family: Arial, Helvetica, sans-serif;
  color: #817d7d;
  font-style: italic;
  font-size: 25px;
  text-align: justify;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 50px;
  line-height: 32px; }

/*------------------------------------------------------------------------------------------------------------------*/
/* estilos seccion contacto */
.style__links__contacto {
  font-size: 25px;
  font-family: Gotham;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px; }

.style__iconos__contacto {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 50px;
  margin-left: 40%; }

.icono__contacto1 {
  transition: width 1s; }

.icono__contacto1:hover {
  transform: scale(1.1); }

.icono__contacto2 {
  transition: width 1s; }

.icono__contacto2:hover {
  transform: scale(1.1); }

.estilo__formulario {
  align-content: center;
  text-align: center; }

/* MEDIA QUERIES: IPHONE SE, IPAD MINI/AIR Y DESKTOP-------------------------------------------------------------------*/
/* media queries iphone SE*/
@media only screen and (min-width: 370px) and (max-width: 400px) {
  /* ajuste clases comunes a todas las secciones */
  .titulos__secciones {
    font-size: 30px; }
  .texto__secciones {
    font-size: 15px;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 16px; }
  .texto__secciones__frase {
    background-color: #FBF433;
    font-family: Gotham;
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 32px; }
  .call__to__action {
    display: scroll;
    position: fixed;
    width: 100px;
    height: auto;
    bottom: 15px;
    right: 15px;
    transition: width 1s; }
  /*ajuste clases del index */
  .titulo__index {
    font-size: 30px; }
  .estilo__imagenes__index {
    margin-top: 190px;
    margin-bottom: 225px;
    gap: 225px; }
    .estilo__imagenes__index .estilo__imagenes__index1 {
      height: auto;
      width: 300px; }
    .estilo__imagenes__index .estilo__imagenes__index2 {
      height: auto;
      width: 300px; }
    .estilo__imagenes__index .estilo__imagenes__index3 {
      height: auto;
      width: 300px; }
  /*ajustes seccion contacto */
  .style__links__contacto {
    font-size: 25px;
    font-family: Gotham;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px; }
  .style__iconos__contacto {
    margin-left: 55px;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    list-style: none; }
  /*ajustes seccion metodologia */
  .texto__seccion__metodologia {
    font-family: Gotham;
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 16px; }
  /* ajustes seccion paquetes*/
  .card {
    width: 20rem;
    height: 9rem; }
  .cards__paquetes {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 50px; }
  .detalle__paquetes {
    font-family: Arial, Helvetica, sans-serif;
    color: #817d7d;
    font-style: italic;
    font-size: 15px;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 16px; } }

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  /*ajustes clases comunes a todas las secciones */
  /*ajustes seccion index*/
  .estilo__imagenes__index .estilo__imagenes__index1 {
    height: auto;
    width: 500px; }
  .estilo__imagenes__index .estilo__imagenes__index2 {
    height: auto;
    width: 500px; }
  .estilo__imagenes__index .estilo__imagenes__index3 {
    height: auto;
    width: 500px; }
  /*ajustes seccion contacto*/
  .style__links__contacto {
    font-size: 25px;
    font-family: Gotham;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px; }
  .style__iconos__contacto {
    margin-left: 300px;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    list-style: none; } }
