@import"colores";
@import"fuentes";
@import"posicion";
@import"textos";

/* use maps para los colores*/
$paleta: (
"color1": rgb(229, 255, 0),
"color2": #FBF433,
"color3": rgb(207, 22, 22),
"color4": rgb(243, 112, 112),
"color5": aliceblue
);

/* mixin para margenes */

@mixin margenes ($margin-top1, $margin-bottom1, $margin-costado1){
	margin-top: $margin-top1;
	margin-bottom: $margin-bottom1;
	margin-right: $margin-costado1;
	margin-left: $margin-costado1;
}

@mixin margenes2 ($margin-top2, $margin-bottom2, $margin-costado2){
	margin-top: $margin-top2;
	margin-bottom: $margin-bottom2;
	margin-right: $margin-costado2;
	margin-left: $margin-costado2;
}


* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	border: none;
}

/*Clases comunes a todas las secciones del sitio */

/*fuente */

@font-face {
	font-family: Gotham;
	src: url(fuentes\Fuente.Iels.otf);
}



/* fondo de pantalla */
.imagen__fondo{
    background-color: #B2D6FF;
	background: linear-gradient( to right, #78a8df , #B2D6FF, #f8f8f8)
}

.estilo__barra__promocion{
	background: linear-gradient(to right, map-get($map: $paleta, $key:"color3" ), map-get($map: $paleta, $key:"color4" ));
	font-family: $font-familiy;
	color: map-get($map: $paleta, $key:"color5" );
	font-size: $fz4;
	padding: 50px;
  

	.boton__inscribite:link{
		color: $color1;
	}
	
	.boton__inscribite:visited{
		color: map-get($map: $paleta, $key:"color1" );
	}
	
	.boton__inscribite:hover{
		color: map-get($map: $paleta, $key:"color1" );
	}
	
	.boton__inscribite:active{
		color: map-get($map: $paleta, $key:"color1" );
	}
	
}
  
/* estilo textos*/
.titulos__secciones{
    font-family: $font-familiy;
    font-size: $fz1;
    text-align: $text-align1;
    margin-top: $margin-top1;
    margin-bottom: $margin-bottom1;
    text-decoration: underline map-get($map: $paleta, $key:"color2" ); }

.texto__secciones{
    font-family: $font-familiy;
    font-size: $fz3;
    text-align: $text-align2; 
    @include margenes(50px, 50px, 200px);
    line-height: $line-height1;
}

.texto__secciones__frase{
	background-color: map-get($map: $paleta, $key:"color2" );;
	font-family: $font-familiy;
    font-size: $fz2;
    text-align: $text-align3; 
	@include margenes(50px, 50px, 200px);
    line-height: $line-height1;
}

.call__to__action{
	display: scroll; 
	position: fixed; 
	width: 150px;
	height: auto;
	bottom: 30px; 
	right: 60px;
	transition: width 1s;}


.call__to__action:hover{
	transform: scale(1.05);
}





.espacio__vacio{
	padding: 50px;
}

/*estilo footer */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: none;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
 

/*______________________________________________________________________________________________________________*/
/* estilos index */

 /* imagenes index */

.titulo__index{
	font-family: $font-familiy;
    font-size: $fz1;
    text-align: $text-align1;
    margin-top: $margin-top1;
    margin-bottom: 0px;
    text-decoration: underline map-get($map: $paleta, $key:"color2" );  
}

.estilo__imagenes__index{
	display: $dF;
	flex-direction: column;
	align-items: $text-align1;
	margin-top: 100px;
	margin-bottom: 10px;
	gap: 225px;}
	


.estilo__imagenes__index1{
	height: auto;
	width: 600px;
	transition: width 1s;}

	
.estilo__imagenes__index1:hover{
	transform: scale(1.40);
	}

	
	


.estilo__imagenes__index2{
	height: auto;
	width: 600px;
	transition: width 1s;}


.estilo__imagenes__index2:hover{
	transform: scale(1.40);
}

.estilo__imagenes__index3{
	height: auto;
	width: 600px;
	transition: width 1s;}


.estilo__imagenes__index3:hover{
	transform: scale(1.40);
}







/*----------------------------------------------------------------------------------------------------------------------*/
/*estilos seccion metodologia */

.texto__seccion__metodologia{
    font-family: $font-familiy;
    font-size: $fz3;
    text-align: $text-align1; 
    @include margenes(50px, 50px, 200px);
    margin-bottom: 0px;
    line-height: $line-height1;
}

.video{
	margin-left: 20%;
}




/*-----------------------------------------------------------------------------------------------------------------------*/
/* estilos seccion paquetes */
/* cards seccion paquetes */

.container{
	display: $dF;
	justify-content: $text-align1;
	height: 50vh;
    align-items: $text-align1;}


.card {
	background-color:var(--white-text);
	border-radius: 1rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	display: $dF;	
	margin: 1.5rem;
	overflow: hidden;
	width: 30rem;
	height: 19rem;
	transition: width 1s;

	
.card:hover{
		width: 40rem;
	}
}




	
/*css para cards bootstrap*/

.cards__paquetes{
	display: $dF;
	flex-direction: row;
	align-content: $text-align1;
	margin-bottom: 100px;
}

.detalle__paquetes{
	font-family: $font-family2;
	color: rgb(129, 125, 125);
	font-style: italic;
    font-size: $fz3;
    text-align: $text-align2; 
    margin-right: $margin-costado1;
    margin-left: $margin-costado1;
    margin-top: 10px;
    margin-bottom: $margin-bottom1;
    line-height: $line-height1;

}

  /*------------------------------------------------------------------------------------------------------------------*/
/* estilos seccion contacto */

.style__links__contacto{
	font-size: $fz3;
	font-family: $font-familiy;
	text-align: $text-align1;
	margin-top: 75px;
	margin-bottom: 75px;
}

.style__iconos__contacto{
	display: $dF;
	flex-direction: row;
	align-content: $text-align1;
	gap: 50px;
	margin-left: 40%;
}


.icono__contacto1{
	transition: width 1s;}

	
.icono__contacto1:hover{
		transform: scale(1.10);
	}





.icono__contacto2{
		transition: width 1s;}
	
		
.icono__contacto2:hover{
		transform: scale(1.10);
}




.estilo__formulario{
	align-content: $text-align1;
	text-align: $text-align1;
}




/* MEDIA QUERIES: IPHONE SE, IPAD MINI/AIR Y DESKTOP-------------------------------------------------------------------*/

/* media queries iphone SE*/
@media only screen and (min-width: 370px) and (max-width: 400px) {
	
	/* ajuste clases comunes a todas las secciones */
	
		
	
		.titulos__secciones{
			font-size: $fz2;
		}
	
		.texto__secciones{
			font-size: $fz5;
			text-align: $text-align2; 
			@include margenes2(25px, 25px, 30px);
			line-height: $line-height2;
		}

		.texto__secciones__frase{
			background-color: map-get($map: $paleta, $key:"color2" );;
			font-family: $font-familiy;
			font-size: $fz5;
			text-align: $text-align3; 
			@include margenes2(25px, 25px, 30px);
			line-height: $line-height1;
		}
	
		.call__to__action{
			display: scroll; 
			position: fixed; 
			width: 100px;
			height: auto;
			bottom: 15px; 
			right: 15px;
			transition: width 1s;}
	
		
		/*ajuste clases del index */
	
		.titulo__index{
			font-size: $fz2;
			
		}
	
		.estilo__imagenes__index{
			margin-top: 190px;
			margin-bottom: 225px;
			gap: 225px;
		
	
		.estilo__imagenes__index1{
			height: auto;
			width: 300px;
		}
		
		.estilo__imagenes__index2{
			height: auto;
			width: 300px;
		}
		
		.estilo__imagenes__index3{
			height: auto;
			width: 300px;
		}
	}
	
	
	
		/*ajustes seccion contacto */
	
	.style__links__contacto
	{
		
		font-size: $fz3;
		font-family: $font-familiy;
		text-align: $text-align1;
		margin-top: 75px;
		margin-bottom: 75px;
		
	}
	
	.style__iconos__contacto{
		margin-left: 55px;
		margin-top: 75px;
		margin-bottom: 75px;
		display: $dF;
		list-style: none;
		
	}
	
	
	 /*ajustes seccion metodologia */
	
	.texto__seccion__metodologia{
		font-family: $font-familiy;
		font-size: $fz5;
		text-align: $text-align1; 
		@include margenes2(25px, 25px, 30px);
		line-height: $line-height2;
	}

	
	
	/* ajustes seccion paquetes*/
	
	.card {
		width: 20rem;
		height: 9rem;
    }
	
	.cards__paquetes{
		display: $dF;
		flex-direction: column;
		align-content: $text-align1;
		margin-bottom: $margin-bottom1;
	}
	
	.detalle__paquetes{
		font-family: $font-family2;
		color: rgb(129, 125, 125);
		font-style: italic;
		font-size: $fz5;
		text-align: $text-align2; 
		@include margenes2(25px, 25px, 30px);
		margin-top: 10px;
		margin-bottom: $margin-bottom1;
		line-height: $line-height2;
	
	}
	
	}
	
		/* Tablet Styles */
		@media only screen and (min-width: 401px) and (max-width: 960px) {
		
	/*ajustes clases comunes a todas las secciones */
	
		
	
		
	
		/*ajustes seccion index*/
	
		.estilo__imagenes__index{
		
		.estilo__imagenes__index1{
			height: auto;
			width: 500px;
			
		}
		
		.estilo__imagenes__index2{
			height: auto;
			width: 500px;
		}
		
		.estilo__imagenes__index3{
			height: auto;
			width: 500px;
		}
	}
		
		/*ajustes seccion contacto*/
	
	.style__links__contacto
	{
		
		font-size: $fz3;
		font-family: $font-familiy;
		text-align: $text-align1;
		margin-top: 75px;
		margin-bottom: 75px;
	}
	
	.style__iconos__contacto{
		margin-left: 300px;
		margin-top: 75px;
		margin-bottom: 75px;
		display: $dF;
		list-style: none;
	}
		}
	
	
	
	
	
	
	
	
		
		   