* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	border: none;
}

/*Clases comunes a todas las secciones del sitio */

/* fondo de pantalla */
.imagen__fondo{
    background-color: #B2D6FF;
	background: linear-gradient( to right, #B2D6FF , #f8f8f8)
}

/* estilo titulos*/
.titulos__secciones{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline #FBF433;   
}


/*estilos seccion metodologia */

.texto__seccion__metodologia{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center; 
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
    line-height: 32px;
}

/* estilo icono de contacto*/

.icono__contacto:link{
	icon: 1px
}

/*estilo footer */
 
.iconos__footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 655px;
    


.iconos__footer1{
	width: 200px;
	height: auto;
	transition: width 1s;

	
.iconos__footer1:hover{
		transform: scale(1.05);
	}

}



.iconos__footer2{
	width: 500px;
	height: auto;
}

}





 